<div id="<%= dom_id upload %>">
  <p>
    <strong>Title:</strong>
    <%= upload.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= upload.description %>
  </p>

  <p>
    <strong>File type:</strong>
    <%= upload.file_type %>
  </p>

  <p>
    <strong>File size:</strong>
    <%= upload.file_size %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= upload.url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= upload.user_id %>
  </p>

</div>
