<p style="color: green"><%= notice %></p>

<h1>Uploads</h1>

<div id="uploads">
  <% @uploads.each do |upload| %>
    <%= render upload %>
    <p>
      <%= link_to "Show this upload", upload %>
      <%= button_to "Delete this upload", upload_path(upload), method: :delete, data: { confirm: "Are you sure?" }, form: { style: 'display: inline' } %>
    </p>
  <% end %>
</div>

<%= link_to "New upload", new_upload_path %>
